html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Custom navbar */
.navbar-default {
background-color: #fff;
background: #fff url("http://agora/images/theme/bg_menutop.png") bottom center repeat-x;
}
.navbar-default .navbar-nav>.active>a{
color: #555;
Background-color: #fff;
border-color: #ffc726;
border: 2px solid #ffc726;
border-radius: 5px;
}

#wrap > .container {
  padding: 45px 15px 0;
}
.container .credit {
  margin: 20px 0;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
code {
  font-size: 80%;
}

/* Custom button */
.btn-TRUST {
    margin: 1em;
    background-color: #665FA2;
    color: white;
}
.btn-TRUST:hover {
    background-color: #504b7f;
    color: white;
}
.btn-INITIATIVE {
    margin: 1em;
    background-color: #ED7835;
    color: white;
}
.btn-INITIATIVE:hover {
    background-color: #bf5e2a;
    color: white;
}
.btn-CUSTOMER {
    margin: 1em;
    background-color: #E41359;
    color: white;
}
.btn-CUSTOMER:hover {
    margin: 1em;
    background-color: #c4114d;
    color: white;
}
.btn-INNOVATION {
    margin: 1em;
    background-color: #49A828;
    color: white;
}
.btn-INNOVATION:hover {
    background-color: #3b8720;
    color: white;
}
.btn-AGILITY {
    margin: 1em;
    background-color: #55B9A8;
    color: white;
}
.btn-AGILITY:hover {
    background-color: #55B9A8;
    color: white;
}



/* Sticky footer styles
   http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
-------------------------------------------------- */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Form.signin styles
   http://getbootstrap.com/examples/signin/
-------------------------------------------------- */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
